.box {
  height: 100vh;
  width: 150vw;
  margin: 0;
  padding: 0;
  background-color: darkgreen;
}
.top{
  height:10vh;
  width:15%;
  background-color: white;
}
.bottom{
  height:35%;
  width:15%;
  background-color: orange;
}
