.container {
  height: 100vh;
  width: 150vw;
  margin: 0;
  padding: 0;
  background-color: darkgreen;
}
.left{
  height:25%;
   width:15%;
   background-color: lightblue;
}
.right{
  height:35%;
  width:15%;
  background-color: gold;
}

